[submodule "game/escape"]
	path = game/escape
	url = https://github.com/MegapolisPlayer/EscapeGameJS.git
[submodule "apps/rozvrhinfo"]
	path = apps/rozvrhinfo
	url = https://github.com/MegapolisPlayer/RozvrhInfo.git
