body {
    font-family: Helvetica;
    font-size: 25px;
	background-color: #ffffff;
    color: #000000;
}

h {
    font-weight: bold;
    font-size: 50px;
}

/*Divs*/
#header {
    font-weight: bold;
    font-size: 50px;
    background-color: #0019a7;
    color: #ffffff;
	width: 100vw;
	text-align: center;
}

#sidebar {
	background-color: #686868;
    width: 21%;
    height: 100vw;
	text-align: center;
}

#credits {
	background-color: black;
	font-size: 17px;
    width: 100vw;
    text-align: center;
}
