/*Main website stylesheet*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700');

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	--main-color: #00007d;
	--second-color: #ffffff;
	--ok-color: #008000;
	--warn-color: #cc6600;
	--error-color: #800000;
}

body {
	background-color: var(--main-color);
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(10px, 1.5vw, 20px);
	color: var(--second-color);
	max-width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: hidden;
}

#bodywrapper {
	width: 100%;
	overflow-x: hidden; /*for mobile*/
	/*100 - header btn font size - header button padding - header padding*/
	/* - (credits size + padding top + padding bottom + margin top)*/
	min-height: calc(
		calc(100vh - clamp(10px, 1.5vw, 20px) - 10px - 10px) 
		- calc(20vh + 2vh + 10px + 2vh)
	);
}

*::selection {
	color: var(--main-color);
	background-color: var(--second-color);
}

/*Tags*/

a {
	text-decoration: none;
}
a:link {
	color: var(--main-color);
}
a:visited {
	color: #7d007d;
}
a:hover {
	color: #007d7d;
}
a:active {
	color: #000000;
}

#credits a {
	text-decoration: none;
}
#credits a:link {
	color: #7777dd !important;
}
#credits a:visited {
	color: #aa00aa !important;
}
#credits a:hover {
	color: #20aaaa !important;
}
#credits a:active {
	color: var(--second-color) !important;
}

button {
	display: inline;
	font-family: 'Open Sans';
	font-size: clamp(10px, 1.5vw, 20px);
	font-weight: bold;
	text-align: center;
	background-color: var(--second-color);
	color: var(--main-color);
	padding: 10px;
	margin: 0;
	border: none;
	border-radius: 5px;
}

button:hover {
	background-color: var(--main-color);
	color: var(--second-color);
}
button:active {
	filter: brightness(80%);
	background-color: var(--main-color);
	color: var(--second-color);
}
button:disabled {
	background-color: var(--main-color);
	color: var(--second-color);
}

textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(10px, 1.5vw, 20px);
}
input {
	font-family: 'Open Sans', sans-serif;
	font-size: clamp(10px, 1.5vw, 20px);
}
input[type=checkbox] {
	width: clamp(10px, 1.5vw, 20px);
	height: clamp(10px, 1.5vw, 20px);
}
select {
	display: inline;
	font-weight: bold;
	text-align: center;
	background-color: var(--second-color);
	color: var(--main-color);
	padding: 10px;
	margin: 0;
	border: none;
}

.downloadrow {
	width: 100%;
	text-align: center;
}
.downloadrow button {
	display: inline;
	font-family: 'Open Sans';
	font-size: clamp(10px, 1.5vw, 20px);
	font-weight: bold;
	text-align: center;
	background-color: var(--second-color);
	color: var(--main-color);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
	display: inline;
	font-weight: bold;
	margin: 0;
}
h1 {
	font-size: clamp(15px, 2vw, 35px);
}

ul {
	list-style-type: disclosure-closed;
}
li ul {
	list-style-type: square;
}

table, tr, td, th {
	border: 1px solid var(--second-color);
	padding: 5px;
	border-collapse: collapse;
}

hr {
	color: var(--second-color);
}

.fullwidth {
	width: 100%;
}

/*Header stuff*/

#header {
	position: sticky;
	font-weight: bold;
	font-size: clamp(20px, 2vw, 30px);
	background-color: var(--second-color);
	color: var(--main-color);
	width: 100%;
	text-align: left;
	padding: 10px;
	top: 0;
	left: 0;
}
#headermaintext {
	font-weight: bold;
	padding-right: clamp(5px, 0.5vw, 10px);
}
@media only screen and (max-width: 499px) {
	#headermaintext {
		display: none;
	}
}
#header *::selection {
	color: var(--second-color);
	background-color: var(--main-color);
}

.headerimage {
	height: clamp(10px, 1.5vw, 20px);
	width: clamp(10px, 1.5vw, 20px);
	padding: 0;
	margin: 0;
}

/*Header dropdown*/

.headerdrop {
	display: inline-block;
	position: relative;
}
.headerdropc {
	display: none;
	position: absolute;
	background-color: var(--second-color);
	color: var(--main-color);
	font-size: clamp(10px, 1.5vw, 20px);
	font-weight: bold;
	text-align: center;
}
.headerdropc button {
	font-size: clamp(10px, 1.5vw, 20px);
	font-weight: bold;
	text-align: center;
	background-color: var(--second-color);
	color: var(--main-color);
	width: 100%;
}
.headerdropc button:hover {
	background-color: var(--main-color);
	color: var(--second-color);
}
.headerdropc button:active {
	filter: brightness(80%);
	/*for mobile*/
	background-color: var(--main-color);
	color: var(--second-color);;
}
.headerdropc button:disabled {
	background-color: var(--main-color);
	color: var(--second-color);
}

/*Grid selection*/

.gridcontain {
	display: grid;
	grid-template-columns: repeat(3, 3fr);
	grid-column-gap: clamp(5px, 0.5vw, 10px);
	grid-row-gap: clamp(5px, 0.5vw, 10px);
	margin: 10px;
}
.gridmember {
	display: grid;
	background-color: var(--second-color);
	color: var(--main-color);
	border: none;
	min-height: 30vh;
	padding: 10px;
	border-radius: 5px;
}
.gridmemberbutton {
	bottom: 0;
	text-align: center;
	margin: auto;
	margin-bottom: 0px;
}

/*Divs*/

/*Outside blogpost*/

.blogpost {
	background-color: #808080;
	min-height: 5%;
	border: 5px solid var(--second-color);
	padding: clamp(10px, 1.25vw, 30px); /*for text*/
	margin-left: 5%;
	margin-right: 5%; 
	margin-top: 2%;
	border-radius: 5px;
}

/*Selection*/

.blogpostsectionmenu {
	background-color: var(--second-color);
	color: var(--main-color);
	border: 5px solid var(--second-color);
	padding: clamp(10px, 10px, 30px);
	margin-left: 5%;
	margin-right: 5%; 
	margin-top: 2%;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.blogpostsectionmenu *::selection {
	color: var(--second-color);
	background-color: var(--main-color);
}

.blogpostsectionmenu button {
	background-color: var(--second-color);
	color: var(--main-color);
	padding: 5px;
	display: inline-block;
	right: 0;
	margin-left: 1em;
}
.blogpostsectionmenu button:hover {
	background-color: var(--main-color);
	color: var(--second-color);
}

@media only screen and (max-width: 499px) {
	.blogpostsectionmenutext {
		display: none;
	}
}

/*Blogposts*/

.bloginfo {
	background-color: var(--ok-color);
	color: var(--second-color);
	border-left: clamp(10px, 0.5vw, 20px) solid #00aa00;
	display: flex;
}

.blogwarning {
	background-color: var(--warn-color);
	color: var(--second-color);
	border-left: clamp(10px, 0.5vw, 20px) solid #ff9900;
	display: flex;
}

.blogerror {
	background-color: var(--error-color);
	color: var(--second-color);
	border-left: clamp(10px, 0.5vw, 20px) solid #aa0000;
	display: flex;
}

/*New apps blogpost*/

.blognewapps {
	background-color: var(--second-color);
	color: var(--main-color);
}
.blognewapps *::selection {
	color: var(--second-color);
	background-color: var(--main-color);
}

.blognewapps hr {
	color: var(--main-color);
}

.blognewapps button {
	background-color: var(--main-color);
	color: var(--second-color);
}

/*Inside blogpost*/

.info {
	background-color: var(--ok-color);
	color: var(--second-color);
	border-left: clamp(10px, 0.5vw, 20px) solid #00aa00;
	width: fit-content;
	height: fit-content;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 50px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	border-radius: 5px;
}

.warning {
	background-color: var(--warn-color);
	color: var(--second-color);
	border-left: clamp(10px, 0.5vw, 20px) solid #ff9900;
	width: fit-content;
	height: fit-content;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 50px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	border-radius: 5px;
}

.error {
	background-color: var(--error-color);
	color: var(--second-color);
	border-left: clamp(10px, 0.5vw, 20px) solid #aa0000;
	width: fit-content;
	height: fit-content;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 50px;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	border-radius: 5px;
}

.column2 {
	float: left;
	width: 50%;
}
.column3 {
	float: left;
	width: 33.33333%;
}
.column4 {
	float: left;
	width: 25%;
}
.columnparent:after {
  content: "";
  display: table;
  clear: both;
}

.yes {
	color: var(--ok-color);
	font-weight: bold;
}
.maybe {
	color: #cccc00; /*different color than warning*/
	font-weight: bold;
}
.notreally {
	color: var(--warn-color); /*warning in bp color*/
	font-weight: bold;
}
.no {
	color: var(--error-color);
	font-weight: bold;
}

/*Credits*/

#credits {
	background-color: #000000;
	font-size: clamp(10px, 1vw, 20px);
	width: 100%;
	height: 20vh;
	padding-top: 2vh;
	padding-bottom: 10px;
	margin-top: 2vh;
}
#creditsleft {
	width: calc(50vw - 50px);
	height: 20vh;
	left: 0;
	float:left;
	padding-left: 50px;
	position: absolute;
}
#creditsright {
	width: calc(50vw - 50px);
	height: 20vh;
	right: 0;
	float:right;
	padding-right: 50px;
	position: absolute;
}

